<div class="container">  

  <h1>Game Library</h1>

    <ul class="nav nav-tabs">
      <li role="presentation"><a href="/game_search">Search Games</a>
      <li role="presentation" class="active"><a href="">Game Library</a>
      <% if @user.name == "admin" %>
        <li role="presentation"><a href="/admin_home">Admin Home</a>
        <li role="presentation"><a href="/game_create">Add Games</a>
      <% else %>
        <li role="presentation"><a href="/user_profile">Your Profile</a>
      <% end %>
      <li role="presentation"><a href="/logout_user/<%= @user.id %>">Log Out</a>
      </li>
    </ul>

  <br />

  <% @games.each do |game| %>
    <p>
    <a href="/game_profile/<%= game.id %>"><%= game.title %></a>
      <% if @user.name == "admin" %>
        <div class="btn-group btn-group-xs" role="group" aria-label="...">
          <button type="button" class="btn btn-default"><a href="/game_update/<%= game.id %>">update</a></button>
          <button type="button" class="btn btn-default"><a href="/games_delete/<%= game.id %>">delete</a></button>
        </div>
      <% else %>
      <% end %>
    </p>
  <% end %>

</div>