<h1>Hello, <%= @user.name %></h1>

<p>
      <a href="/game_search">Search Games</a>
      <br />
      <a href="/game_library">Game Library</a>
      <br />
  <% if @user.name == "admin" %>
      <a href="/admin_home">Admin Home</a>
  <% else %>
  <% end %>
</p>

<p>
  <i>User Name:</i>
  <br />
  <%= @user.name %>
  <br />
  <i>Email:</i>
  <br />
  <%= @user.email %>
  <br />
  <i>Date of Birth:</i>
  <br />
  <%= @user.dob %>
  <br />
</p>

<p>
  <a href="/user_update">Update</a>
  <a href="/user_delete">Delete</a>
  <a href="/logout_user/<%= @user.id %>">Log Out</a>
</p>